.form-control {
    background-color: transparent !important;
    border: 2px rgb(76, 76, 76) solid;
    outline: none !important;
    color: whitesmoke !important;
    margin-bottom: 5%;

}

.form-input:focus {
    outline: none;
}

select{
    margin-bottom: 15%;
    padding: 5px;
}
