.addBinForm {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background: transparent;
}

.form-control {
    background-color: transparent !important;
    border: none;
    border-bottom: 2px rgb(76, 76, 76) solid;
    outline: none !important;
    color: whitesmoke !important;
}

.form-input:focus {
    outline: none;
}